p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.active {
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  bottom: -28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media (min-width: 480px) {
  .header .conteiner {
    position: relative;
  }
}

@media (min-width: 768px) {
  .header .header {
    padding: 21px 0;
  }
}

.header .header__conteiner {
  display: flex;
  align-items: center;
}

.header .header__nav {
  display: flex;
  align-items: center;
}

.header .header__contact {
  display: none;
}

@media (min-width: 768px) {
  .header .header__contact {
    display: block;
    padding-left: 84px;
  }
}

@media (min-width: 1200px) {
  .header .header__contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.header .header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header .header__menu {
    display: flex;
  }
}

.header .header .header__item:last-child {
  margin-right: 0;
}

.header .header__logo {
  position: relative;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media (min-width: 768px) {
  .header .header__logo {
    margin-right: 88px;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .header .header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header .header__logo span {
  color: #000000;
}

.header .header__item:not(:last-child) {
  margin-right: 50px;
}

.header .header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .header .header__link:focus,
.header .header__link:hover {
  color: #2196f3;
}

.header .header__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .header .header__mail {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header .header__mail {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header .header__icon-mail {
  width: 14px;
  height: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

@media (min-width: 1200px) {
  .header .header__icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.header .header__mail:hover,
.header .header__mail:focus {
  color: #2196f3;
}

.header .header__mail:focus .header__icon-mail,
.header .header__mail:hover .header__icon-mail {
  fill: #2196f3;
}

.header .header__tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .header .header__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header .header__tel:focus,
.header .header__tel:hover {
  color: #2196f3;
}

.header .header__tel:hover .header__icon-tel,
.header .header__tel:focus .header__icon-tel {
  fill: #2196f3;
}

.header .header__icon-tel {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-self: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .header .header__icon-tel :last-child {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.header .header__icon-mail:last-child {
  margin-right: 10px;
}

.header .menu-mob_open-icon {
  display: block;
  margin: 0;
}

@media (min-width: 768px) {
  .header .menu-mob_open-icon {
    display: none;
  }
}

.header .menu-mob_open-icon:hover,
.header .menu-mob_open-icon:focus {
  fill: #2196f3;
}

.header .window-menu__close-icon {
  display: flex;
  align-items: center;
  justify-self: center;
}

.header .window-menu__close-icon:hover,
.header .window-menu__close-icon:focus {
  fill: #2196f3;
}

.header .menu-mob__open-btn {
  display: flex;
  position: absolute;
  right: 10px;
  top: -6px;
  margin-right: auto;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.header .window-menu {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
}

.header .window-menu__list {
  padding-top: 48px;
}

.header .window-menu__close-btn {
  position: absolute;
  background-color: #fff;
  display: block;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.header .window-menu__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-right: 15px;
}

.header .window-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.header .window-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}

.header .window-menu__link:hover,
.header .window-menu__link:focus {
  color: #2196f3;
}

.header .mob-conecot_list {
  bottom: 134px;
}

.header .mob-conecot__tel {
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header .mob-conecot__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header .window-menu {
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 450px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .mob-social__list {
  display: flex;
  justify-content: center;
}

.header .mob-social__list :not(:last-child) {
  margin-right: 10px;
}

.header .mob-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.header .mob-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header .mob-social__item:last-child {
  border: none;
}

.header .mob-social__item:first-child {
  padding-left: 0;
}

.header .window-menu.is-hidden {
  transform: translate(100%);
}

@media (min-width: 1200px) {
  .header .header__itemm {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .header .header__itemm + .header__itemm {
    margin-right: 0;
  }
}

.header .portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .header .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header .button-menu {
  padding: 6px 22px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .button-menu:focus,
.header .button-menu:hover {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header .portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.header .portfolio-list-btn {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .header .portfolio-list-btn {
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .header .portfolio-list-btn {
    margin-bottom: 56px;
  }
}

.header .portfolio-btn {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .header .portfolio-btn {
    margin-bottom: 0;
  }
}

.header .header-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #212121;
}

@media (min-width: 1200px) {
  .header .header-btn {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header .portfolio-hover {
  position: relative;
  overflow: hidden;
}

.header .portfolio-hover-text {
  padding: 30px 22px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (min-width: 480px) {
  .header .portfolio-hover-text {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .header .portfolio-hover-text {
    padding: 63px 24px;
  }
}

.header .portfolio-hover:hover .portfolio-hover-text {
  transform: translateY(0);
}

.header .portfolio-per {
  margin-left: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 768px) {
  .header .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.header .portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: left;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .header .portfolio-item:nth-child(9n) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .header .portfolio-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .header .portfolio-item:nth-child(9n) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .header .portfolio-item {
    width: calc(100% / 3 - 30px);
  }
  .header .portfolio-item:nth-child(7n) {
    margin-bottom: 0;
  }
  .header .portfolio-item:nth-child(8n) {
    margin-bottom: 0;
  }
  .header .portfolio-item:nth-child(9n) {
    margin-bottom: 0;
  }
}

.header .portfolio-item:hover,
.header .portfolio-item:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.header .portfolio-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

.header .footer {
  background-color: #2f303a;
}

.header .footer__conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .header .footer__conteiner {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .header .footer__conteiner-wrap {
    flex-wrap: wrap;
    display: flex;
    justify-self: flex-start;
    align-items: center;
  }
}

.header .address__logo {
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

@media (min-width: 1200px) {
  .header .address__logo {
    display: inline;
  }
}

.header .address__list {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .header .address__list {
    position: absolute;
    left: 76px;
    top: 60px;
  }
}

@media (min-width: 1200px) {
  .header .address__list {
    position: static;
    padding-bottom: 0;
  }
}

.header .address__logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media (min-width: 1200px) {
  .header .address__logo-web {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header .address__logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .header .address__logo-studio {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header .address__home {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  display: block;
}

@media (min-width: 1200px) {
  .header .address__home {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .header .address__item {
    display: block;
    margin-top: 20px;
  }
}

.header .address__mail {
  margin-top: 9px;
  text-align: center;
}

@media (min-width: 1200px) {
  .header .address__mail {
    text-align: start;
  }
}

.header .address__tel {
  margin-top: 9px;
  text-align: center;
}

@media (min-width: 1200px) {
  .header .address__tel {
    text-align: start;
  }
}

.header .address__mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.header .address__tel {
  margin-top: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.header .footer-social {
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
}

@media (min-width: 768px) {
  .header .footer-social {
    position: absolute;
    top: 65px;
    right: 89px;
  }
}

@media (min-width: 1200px) {
  .header .footer-social {
    position: static;
    margin-left: 70px;
    display: flex;
  }
}

.header .footer-social__icon-titel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .header .footer-social__icon-titel {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-self: center;
  }
}

.header .footer-social__icon-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 81px;
  align-items: flex-start;
  flex-direction: row;
  align-content: center;
}

@media (min-width: 1200px) {
  .header .footer-social__icon-list {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: flex-start;
    width: 231px;
    height: 81px;
    align-items: flex-start;
    flex-direction: row;
  }
}

.header .footer-social__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .footer-social__item + .header .footer-social__item {
  margin-left: 10px;
}

.header .footer-social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .footer-social__link:hover, .header .footer-social__link:focus {
  background-color: #2196f3;
}

.header .footer-social__link:hover .header .footer-social__icon,
.header .footer-social__link:focus .header .footer-social__icon {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .header .subscribe {
    padding-top: 190px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .header .subscribe {
    position: absolute;
    padding-top: 0;
    left: 600px;
    top: 72px;
  }
}

.header__titel {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .header__titel {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .header__wrap {
    display: flex;
    justify-self: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .header__form {
    display: flex;
    justify-self: center;
    align-items: center;
  }
}

.header__input {
  width: 100%;
  padding-left: 16px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header__input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .header__input {
    width: 358px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.header__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.header__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 160px;
  display: flex;
  justify-self: center;
  align-items: center;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
}

@media (min-width: 480px) {
  .header__btn {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .header__btn {
    margin-left: 12px;
  }
}

.header__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  display: block;
}
/*# sourceMappingURL=portfolio.css.map */