.footer {
  background-color: #2f303a;
  &__conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 768px) {
      position: relative;
    }
    @media (min-width: 1200px) {
      padding: 60px 0;
    }
  }
  &__conteiner-wrap {
    @media (min-width: 1200px) {
      flex-wrap: wrap;
      display: flex;
      justify-self: flex-start;
      align-items: center;
    }
  }
}
.address {
  &__logo {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    @media (min-width: 1200px) {
      display: inline;
    }
  }
  &__list {
    padding-bottom: 60px;
    @media (min-width: 768px) {
      position: absolute;
      left: 76px;
      top: 60px;
    }
    @media (min-width: 1200px) {
      margin-left: 20px;
      position: static;
      padding-bottom: 0;
    }
  }

  &__logo-web {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196f3;
    @media (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }

  &__logo-studio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    @media (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__home {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-align: center;
    display: block;
    @media (min-width: 1200px) {
      text-align: start;
    }
  }

  &__item {
    @media (min-width: 1200px) {
      display: block;
      margin-top: 20px;
    }
  }
  &__mail {
    margin-top: 9px;
    text-align: center;
    @media (min-width: 1200px) {
      text-align: start;
    }
  }
  &__tel {
    margin-top: 9px;
    text-align: center;
    @media (min-width: 1200px) {
      text-align: start;
    }
  }
  &__mail {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.02em;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__tel {
    margin-top: 9px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-social {
  text-align: center;

  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  @media (min-width: 768px) {
    position: absolute;
    top: 65px;
    right: 89px;
  }
  @media (min-width: 1200px) {
    position: static;
    margin-left: 70px;
    display: flex;
  }

  &__icon-titel {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-self: center;
    }
  }
  &__icon-list {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 81px;
    align-items: flex-start;
    flex-direction: row;
    align-content: center;
    @media (min-width: 1200px) {
      display: flex;
      justify-self: center;
      align-items: center;
      justify-content: flex-start;
      width: 231px;
      height: 81px;
      align-items: flex-start;
      flex-direction: row;
    }
  }
  &__icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item + &__item {
    margin-left: 10px;
  }
  &__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    background-color: #2196f3;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #ffffff;
  }
}
.subscribe {
  @media (min-width: 768px) {
    padding-top: 190px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 1200px) {
      position: absolute;
      padding-top: 0;
      left: 600px;
      top: 72px;
    }
  }
  &__titel {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media (min-width: 1200px) {
      text-align: start;
    }
  }
  &__wrap {
    @media (min-width: 1200px) {
      display: flex;
      justify-self: center;
      align-items: center;
    }
  }
  &__form {
    @media (min-width: 1200px) {
      display: flex;
      justify-self: center;
      align-items: center;
    }
  }
  &__input {
    width: 100%;
    padding-left: 16px;

    height: 50px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      display: block;
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;

      margin-left: 0;
      margin-right: 0;
    }
  }
  &__input::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  &__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);

    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 160px;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 50px;
    background: #2196f3;
    border-radius: 4px;
    @media (min-width: 480px) {
      width: 200px;
    }
    @media (min-width: 1200px) {
      margin-left: 12px;
    }
  }
  &__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: #ffffff;
    display: block;
  }
}
