.header {
  width: 100%;
  padding: 10px 0;
  @media (min-width: 768px) {
    padding: 21px 0;
  }
  @media (min-width: 1200px) {
    padding: 25px 0 24px 0;
  }
  &__conteiner {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__contact {
    display: none;
    @media (min-width: 768px) {
      display: block;
      padding-left: 84px;
      margin-right: 0;
    }
    @media (min-width: 1200px) {
      padding-left: 0;
    }
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  &__menu {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }
  & &__item:last-child {
    margin-right: 0;
  }
  &__logo {
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2196f3;
    @media (min-width: 768px) {
      margin-right: 88px;
      display: flex;
    }
    @media (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__logo span {
    color: #000000;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & &__link:focus,
  &__link:hover {
    color: #2196f3;
  }
  &__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.14;
    }
  }
  &__icon-mail {
    width: 14px;
    height: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    @media (min-width: 1200px) {
      margin-right: 10px;
      width: 16px;
      height: 12px;
    }
  }

  &__mail:hover,
  &__mail:focus {
    color: #2196f3;
  }
  &__mail:focus &__icon-mail,
  &__mail:hover &__icon-mail {
    fill: #2196f3;
  }
  &__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: 768px) {
      margin-right: 0;
    }
    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }
  &__tel:focus,
  &__tel:hover {
    color: #2196f3;
  }
  &__tel:hover &__icon-tel,
  &__tel:focus &__icon-tel {
    fill: #2196f3;
  }
  &__icon-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-self: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: 1200px) {
      :last-child {
        margin-right: 10px;
        width: 10px;
        height: 16px;
      }
    }
  }
  &__icon-mail:last-child {
    margin-right: 10px;
  }
}

.menu-mob_open-icon {
  display: block;
  margin: 0;
  @media (min-width: 768px) {
    display: none;
  }
}
.menu-mob_open-icon:hover,
.menu-mob_open-icon:focus {
  fill: #2196f3;
}
.window-menu__close-icon {
  display: flex;
  align-items: center;
  justify-self: center;
}
.window-menu__close-icon:hover,
.window-menu__close-icon:focus {
  fill: #2196f3;
}
.menu-mob__open-btn {
  display: flex;
  position: absolute;
  right: 10px;
  top: -6px;
  margin-right: auto;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.window-menu {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
}
.window-menu__list {
  padding-top: 48px;
}

.window-menu__close-btn {
  position: absolute;
  background-color: #fff;
  display: block;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
}
.window-menu__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-right: 15px;
}

.window-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.window-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}
.window-menu__link:hover,
.window-menu__link:focus {
  color: #2196f3;
}
.mob-conecot_list {
  bottom: 134px;
}
.mob-conecot__tel {
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 33px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  @media (min-width: 480px) {
    font-size: 34px;
  }
}
.mob-conecot__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.window-menu {
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 450px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-social__list {
  display: flex;
  justify-content: center;
  :not(:last-child) {
    margin-right: 10px;
  }
  flex-wrap: wrap;
  @media (min-width: 480px) {
    flex-wrap: nowrap;
  }
}
.mob-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.mob-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border: none;
  }
  &:first-child {
    padding-left: 0;
  }
}
.window-menu.is-hidden {
  transform: translate(100%);
}

.header__itemm {
  @media (min-width: 1200px) {
    margin-right: 30px;
  }
}
.header__itemm + .header__itemm {
  @media (min-width: 1200px) {
    margin-right: 0;
  }
}
.conteiner {
  @media (min-width: 480px) {
    position: relative;
    z-index: 2;
  }
  @media (min-width: 768px) {
    position: static;
  }
}
