.check {
  @media (min-width: 768px) {
    margin-left: 0;
  }
  @media (min-width: 1200px) {
    margin-left: 14px;
  }
  &__text {
    font-weight: normal;
    font-size: 7px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-self: center;
    @media (min-width: 480px) {
      font-size: 12px;
    }
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: calc(24 / 14);
    }
    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }
  &__text::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
  }

  &__policy:checked + &__text::before {
    border: none;
    background-image: url(../images/icon_check.svg);
    background-repeat: no-repea;
    background-position: center;
    background-size: cover;
  }
  &__text-item {
    color: #2196f3;
    margin-left: 4px;
  }
}
